.vscode/
BGPViewerConsoleTool/debug.log
BGPViewerConsoleTool/build-deploy-script.bat
BGPViewerConsoleTool/bin/
BGPViewerConsoleTool/obj/
BGPViewerCore/bin/
BGPViewerCore/obj/
BGPViewerCore.UnitTests/obj/
BGPViewerCore.UnitTests/bin/